@media (max-width: 1186px){
    .list li a{
        display: none;
    }
    .nav__right{
        display: flex;
        gap: 50px;
    }
    .bars{
        display: flex;
    }
    .header__input{
        width: 1100px;
        margin: 0 auto;
        margin-top: 50px;
    }
    .main__center{
        flex-direction: column;
    }
    .main__right h1{
        font-size: 40px;
    }
    .cards{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
    .main__btn{
        margin-bottom: 40px;
    }
    .services{
        flex-direction: column;
    }
    .services__right{
        margin-top: 30px;
    }
    .services__left{
        margin-top: 60px;
    }
    .bg-places{
        padding: 50px 0;
        margin-bottom: 500px;
        display: grid;
    }
    .places__art{
        gap: 50px;
        margin-left: 40px;
        display: grid;
        grid-template-areas: 
        "B J"
        "B M"
        "L I";
    }
    .places__art__item{
        width: 370px;
        height: 255px;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 4px;
        position: relative;
    }
    .bangladesh{
        height: 540px;
    }
    .proportiess{
        flex-direction: column;
        margin: 0 auto;
    }
    .bg-properties{
        padding: 0;
    }
    .properties__left{
        padding-top: 0;
        padding-left: 30px;
    }
    .properties__left p{
        font-size: 15px;
    }
    .properties__right{
        margin: 70px auto;
    }
    .bg-input{
        width: 90%;
    }
    .footer__right__media{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 30px;
    }
    .footer__contact{
        justify-content: space-around;
        align-items: center;
    }
    .places__art__item__info{
        padding: 12px 32px;
        width: 200px;
        border-radius: 4px;
        background: rgba(0, 96, 119, 0.02);
        backdrop-filter: blur(14.5px);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        opacity: 0;
        transition: .5s;
        text-align: center;
    }
    .places__art__item .places__art__item__info{
        opacity: 1;
        bottom: 30%;
        cursor: pointer;
    }
}
@media (max-width: 1119px){
    .header__input{
        width: 900px;
    }
    child h1{
        font-size: 15px;
    }
    child{
        margin: 20px;
    }
    .places__art__item__info{
        padding: 12px 32px;
        width: 200px;
        border-radius: 4px;
        background: rgba(0, 96, 119, 0.02);
        backdrop-filter: blur(14.5px);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        opacity: 0;
        transition: .5s;
        text-align: center;
    }
    .places__art__item .places__art__item__info{
        opacity: 1;
        bottom: 30%;
        cursor: pointer;
    }
}
@media (max-width:966px){
    .header__input{
        width: 800px;
    }
    child h1{
        font-size: 12px;
    }
    child{
        margin: 17px;
    }
    .main__right h1{
        font-size: 30px;
    }
    .places__art__item__info{
        padding: 12px 32px;
        width: 200px;
        border-radius: 4px;
        background: rgba(0, 96, 119, 0.02);
        backdrop-filter: blur(14.5px);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        opacity: 0;
        transition: .5s;
        text-align: center;
    }
    .places__art__item .places__art__item__info{
        opacity: 1;
        bottom: 30%;
        cursor: pointer;
    }
}
@media (max-width: 826px){
    .site-btn{
        padding: 23px 50px;
    }
    .header__input{
        width: 700px;
    }
    .services__icons{
        width: 600px;
    }
    .places__art{
        gap: 20px;
        margin-left: 20px;
    }
    .btn2{
        padding: 16px 32px;
    }
    .about__input{
        width: 650px;
    }
    .footer__contact{
        flex-direction: column;
        align-items: flex-start;
        margin-left: 40px;
    }
    .footer__right__media{
        display: flex;
        margin-top: 70px;
        justify-content: center;
        gap: 30px;
    }
    .places__art__item__info{
        padding: 12px 32px;
        width: 200px;
        border-radius: 4px;
        background: rgba(0, 96, 119, 0.02);
        backdrop-filter: blur(14.5px);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        opacity: 0;
        transition: .5s;
        text-align: center;
    }
    .places__art__item .places__art__item__info{
        opacity: 1;
        bottom: 30%;
        cursor: pointer;
    }
}
@media (max-width: 789px){
    .places__art__item{
        width: 350px;
    }
    .places__art__item__info{
        padding: 12px 32px;
        width: 200px;
        border-radius: 4px;
        background: rgba(0, 96, 119, 0.02);
        backdrop-filter: blur(14.5px);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        opacity: 0;
        transition: .5s;
        text-align: center;
    }
    .places__art__item .places__art__item__info{
        opacity: 1;
        bottom: 30%;
        cursor: pointer;
    }
}
@media (max-width: 752px){
    .main__center{
        margin-left: 45px;
    }
    .house__list{
        font-size: 58px;
    }
    .header__input{
        width: 650px;
    }
    child{
        margin: 19px;
        padding-left: 23px;
    }
    child h1{
        font-size: 10px;
    }
    .site-btn{
        padding: 23px 40px;
    }
    .places__art{
        display: grid;
        grid-template-areas: 
        "B B"
        "J J"
        "M M"
        "L L"
        "I I";
        height: 540px;
        width: 370px;
        margin-bottom: 650px;
        margin-left: 60px;
        /* margin: 0 auto; */
    }
    .proportiess{
        margin-left: 30px;
    }
    .btn2{
        width: 210px;
    }
    .say p{
        padding-bottom: 20px;
    }
    .about__input{
        width: 600px;
    }
    .contact h1{
        font-size: 35px;
    }
    br{
        display: none;
    }
    .footer__left p{
        font-size: 20px;
    }
    .house__pi{
        font-size: 20px;
        padding: 15px 20px 0 20px;
    }
    .places__art__item__info{
        padding: 12px 32px;
        width: 200px;
        border-radius: 4px;
        background: rgba(0, 96, 119, 0.02);
        backdrop-filter: blur(14.5px);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        opacity: 0;
        transition: .5s;
        text-align: center;
    }
    .places__art__item .places__art__item__info{
        opacity: 1;
        bottom: 30%;
        cursor: pointer;
    }
}
@media (max-width: 719px){
    .about__input{
        width: 530px;
    }
    .footer__right__media{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
    }
    .footer__center{
        padding-top: 50px;
    }
    .footer__center h3{
        padding-left: 25px;
    }
    .footer__left p{
        padding: 30px 30px;
    }
    .footer__left__img{
        padding-left: 30px;
    }
    .footer__left__icons{
        padding-left: 30px;
    }
    .cards{
        flex-direction: column;
        align-items: center;
    }
    .main__btn{
        margin-left: 150px;
    }
    .main__right h1, h6{
        padding-left: 25px;
        padding-right: 25px;
        line-height: 40px;
    }
    child{
        margin: 15px;
        padding-left: 17px;
    }
    .child__location h6{
        padding-left: 0;
    }
    .places__art__item__info{
        padding: 12px 32px;
        width: 200px;
        border-radius: 4px;
        background: rgba(0, 96, 119, 0.02);
        backdrop-filter: blur(14.5px);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        opacity: 0;
        transition: .5s;
        text-align: center;
    }
    .places__art__item .places__art__item__info{
        opacity: 1;
        bottom: 30%;
        cursor: pointer;
    }
}
@media (max-width: 707px){
    .house__pi{
        padding: 15px 20px 0 20px;
    }
    .main__right h1{
        font-size: 27px;
    }
    .footer__left p{
        padding: 15px 20px;
    }
    .footer__left__img{
        padding-left: 20px;
    }
    .footer__left__icons{
        padding-left: 20px;
    }
    .about__input{
        width: 550px;
    }
    .footer__right__media{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
    }
    .footer__center{
        padding-top: 50px;
    }
    .places__art__item__info{
        padding: 12px 32px;
        width: 200px;
        border-radius: 4px;
        background: rgba(0, 96, 119, 0.02);
        backdrop-filter: blur(14.5px);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        opacity: 0;
        transition: .5s;
        text-align: center;
    }
    .places__art__item .places__art__item__info{
        opacity: 1;
        bottom: 30%;
        cursor: pointer;
    }
}
@media (max-width: 701px){
    .btn{
        width: 96px;
    }
    .main__btn{
        width: 160px;
    }
    .places__art__item__info{
        padding: 12px 32px;
        width: 200px;
        border-radius: 4px;
        background: rgba(0, 96, 119, 0.02);
        backdrop-filter: blur(14.5px);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        opacity: 0;
        transition: .5s;
        text-align: center;
    }
    .places__art__item .places__art__item__info{
        opacity: 1;
        bottom: 30%;
        cursor: pointer;
    }
}
@media (max-width: 669px){
    .header__house{
        width: 690px;
    }
    .main__interior{
        width: 690px;
    }
    .services__left h1{
        font-size: 40px;
        padding-left: 25px;
    }
    .services__left img{
        margin: 0 auto;
    }
    .bg-say{
        width: 700px;
    }
    .places__art__item__info{
        padding: 12px 32px;
        width: 200px;
        border-radius: 4px;
        background: rgba(0, 96, 119, 0.02);
        backdrop-filter: blur(14.5px);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        opacity: 0;
        transition: .5s;
        text-align: center;
    }
    .places__art__item .places__art__item__info{
        opacity: 1;
        bottom: 30%;
        cursor: pointer;
    }
}
@media (max-width: 643px){
    .services__left{
        margin-left: 30px;
    }
    .services__icons{
        width: 500px;
    }
    .contact h1{
        font-size: 27px;
    }
    .about__input{
        width: 450px;
    }
    .places__art__item__info{
        padding: 12px 32px;
        width: 200px;
        border-radius: 4px;
        background: rgba(0, 96, 119, 0.02);
        backdrop-filter: blur(14.5px);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        opacity: 0;
        transition: .5s;
        text-align: center;
    }
    .places__art__item .places__art__item__info{
        opacity: 1;
        bottom: 30%;
        cursor: pointer;
    }
}
@media (max-width: 603px){
    .services__left img{
        margin-left: 50px;
    }
    .services__left h1{
        font-size: 35px;
        padding-left: 60px;
    }
    .places__art__item{
        width: 370px;
        margin-left: 50px;
    }
    .places__title, .places__title__pi{
        margin-left: 50px;
    }
    .services__icons{
        margin-left: 40px;
    }
    .bg-input{
        margin-left: 80px;
    }
    .places__art__item__info{
        padding: 12px 32px;
        width: 200px;
        border-radius: 4px;
        background: rgba(0, 96, 119, 0.02);
        backdrop-filter: blur(14.5px);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        opacity: 0;
        transition: .5s;
        text-align: center;
    }
    .places__art__item .places__art__item__info{
        opacity: 1;
        bottom: 30%;
        cursor: pointer;
    }
}
@media (max-width: 565px){
    .about__input{
        width: 350px;
    }
    .contact h1{
        font-size: 23px;
    }
    .properties__left{
        margin-left: 60px;
    }
    .places__art__item{
        margin-left: 70px;
    }
    .places__art__item__info{
        padding: 12px 32px;
        width: 200px;
        border-radius: 4px;
        background: rgba(0, 96, 119, 0.02);
        backdrop-filter: blur(14.5px);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        opacity: 0;
        transition: .5s;
        text-align: center;
    }
    .places__art__item .places__art__item__info{
        opacity: 1;
        bottom: 30%;
        cursor: pointer;
    }
}
@media (max-width: 520px){
    .services__left img{
        margin-left: 100px;
    }
    .services__left h1{
        margin-left: 90px;
    }
    .services__icons{
        margin-left: 90px;
    }
    .places__title{
        font-size: 40px;
        margin-left: 80px;
    }
    .places__title__pi{
        font-size: 17px;
        margin-left: 80px;
    }
    .properties__left h1{
        font-size: 40px;
    }
    .bg-input{
        margin-left: 100px;
    }
    .footer__left{
        margin-left: 90px;
    }
    .footer__center{
        margin-left: 70px;
    }
    .places__art__item__info{
        padding: 12px 32px;
        width: 200px;
        border-radius: 4px;
        background: rgba(0, 96, 119, 0.02);
        backdrop-filter: blur(14.5px);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        opacity: 0;
        transition: .5s;
        text-align: center;
    }
    .places__art__item .places__art__item__info{
        opacity: 1;
        bottom: 30%;
        cursor: pointer;
    }
}
@media (max-width: 463px){
    .services{
        margin-left: 60px;
    }
    .places__title{
        margin-left: 37px;
        line-height: 50px;
        margin-bottom: 20px;
    }
    .places__title, .places__title__pi{
        margin-left: 150px;
    }
    .bg-input{
        width: 100%;
    }
    .contact h1{
        font-size: 18px;
    }
    .about__input{
        width: 300px;
    }
    .places__art__item__info{
        padding: 12px 32px;
        width: 200px;
        border-radius: 4px;
        background: rgba(0, 96, 119, 0.02);
        backdrop-filter: blur(14.5px);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        opacity: 0;
        transition: .5s;
        text-align: center;
    }
    .places__art__item .places__art__item__info{
        opacity: 1;
        bottom: 30%;
        cursor: pointer;
    }
}
@media (max-width: 320px){
    .services{
        margin-left: 190px;
    }
    .places__art__item__info{
        padding: 12px 32px;
        width: 200px;
        border-radius: 4px;
        background: rgba(0, 96, 119, 0.02);
        backdrop-filter: blur(14.5px);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        opacity: 0;
        transition: .5s;
        text-align: center;
    }
    .places__art__item .places__art__item__info{
        opacity: 1;
        bottom: 30%;
        cursor: pointer;
    }
}